body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.flex-container {
  display: flex; /* Enables flexbox */
  flex-direction: row; /* row | column */
  /* flex-wrap: wrap; /* wrap | nowrap */
  justify-content: center; /*flex-start | center | space-between | space-around | space-evenly */
  align-items: center; /*flex-start | center | flex-end | stretch */
  gap: 15px; /*space between items */
  background: #ffe;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  min-height: 200px;
}

.box {
  background: #6c5ce7;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  flex: 1 1 100px; /*grow shrink basis */
  margin: 10px;
}

/* Grid Practice */
.container {
  background-color: dodgerblue;
  display: grid;
  grid-template-columns: auto auto auto;
  /*justify-content: center;  Horizontal center */
  /*align-items: center;  Vertical center */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full screen */
}

.box-1 {
  grid-column: 2; /* place in the 2nd column */
  grid-row: 2; /* place in the 2nd row */
  justify-self: center; /* center horizontally */
  align-self: center; /* center vertically */
}
